@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-very-dark-grey);

  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
}

main {
  flex: 1;
  display: grid;
  gap: 1rem;
  max-width: 33.75rem;
}

.title {
  font-size: 2rem;
  color: var(black);
  text-align: center;
}

.password-generator__result {
  color: grey;
  display: flex;
  gap: .5rem;
  align-items: center;
  background-color: var(--clr-dark-grey);
  padding: 1rem;
}

.copied {
  margin-left: auto;
  text-transform: uppercase;
  color: var(--clr-neon-green);
  visibility: hidden;
}